[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nzilbb.labbcat"]
	path = nzilbb.labbcat
	url = https://github.com/nzilbb/labbcat-r
